.active-link {
    color: #FFD700;
    position: relative;
}

.active-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 50%;
    height: 2px;
    background-color: #FFD700;

}